# C compiling extensions
*.a
*.o
*.elf

# Distribution / packaging
build/
final/

# Unneeded litehtml files
lib/litehtml/final
lib/litehtml/CMakeCache.txt
lib/litehtml/Makefile
lib/litehtml/cmake_install.cmake
lib/litehtml/CMakeFiles/
lib/litehtml/containers/
*.vcproj
*.vcxproj
*.filters